<footer>
    <div class="container">
        <div class="row">
            <div class="col">
                <h3>About</h3>
                <h4>Contact Us</h4>
                <h4>About Us</h4>
                <h4>Corporate Information</h4>
            </div>
            <div class="col">
                <h3>Help</h3>
                    <h4>Payment</h4>
                    <h4>Shipping</h4>
                    <h4>Cancellation & Returns</h4>
                    <h4>FAQ</h4>
            </div>
            <div class="col">
                <h3>Consumer Policy</h3>
                    <h4>Cancellation &  Returns</h4>
                    <h4>Terms of use</h4>
                    <h4>Security</h4>
                    <h4>Privacy</h4>
                    <h4>EPR Compliance</h4>
            </div>
            <div class="col">
                <h3>Mail us</h3>
                    <h4>ecommerce.sitegmail.com</h4>
            </div>
            <div class="col">
                <h3>Registered Office</h3>
                    <h4>Ecommence Internet Private Lmited</h4>
                    <h4>Abc Main Street</h4>
                    <h4>Xyc City</h4>
                    <h4>555555</h4>
            </div>
        </div>
        
    </div>
</footer>