<div class="container">
    <div class="row" style="padding: 20px 0;">
      @for (item of products; track item.id) {
        <div class="col" style="padding: 20px 0;">
          <div class="card p-3 mb-5 bg-body-tertiary rounded" style="width: 18rem;">
            <img src="{{item.image}}" class="card-img-top object-fit-sm-contain" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{item.title.slice(0,35)}}..</h5>
              <p class="card-text">{{item.description.slice(0,90)}}...</p>
              <div class="card-bottom">
                <h6 class="card-price">${{item.price}}</h6>
                <h6 class="card-rating ">Rating: {{item.rating.rate}}/5 ({{item.rating.count}})</h6>
                <a routerLink="{{item.id}}" class="btn btn-primary" >Visit</a>
              </div>
            </div>
          </div>
        </div>
      }
    </div>
  </div>
